* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: SourceSerifPro; }

@font-face {
  font-family: SourceSerifPro;
  src: url("font/Source_Serif_Pro/SourceSerifPro-Regular.ttf"); }
/*====mobile===== */
#all {
  width: 100%;
  min-height: 100px; }
  #all nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 115px;
    background: #402218;
    box-shadow: 1px 1px 2px;
    z-index: 80; }
    #all nav #logo {
      font-family: Lobster-Regular;
      font-size: 20px;
      padding: 7px 0px 0px 20px;
      text-shadow: 3px 3px 5px #C68B59; }
      #all nav #logo a {
        text-decoration: none;
        color: white; }
    #all nav form {
      width: 370px;
      height: 35px;
      line-height: 35px; }
      #all nav form input[type=text] {
        width: 70%;
        height: 30px;
        line-height: 30px;
        margin-left: 5px;
        border-radius: 5px;
        padding-left: 7px; }
        #all nav form input[type=text]:focus {
          outline: none; }
      #all nav form input[type=submit] {
        margin: 5px 0px 0px 5px;
        width: 25%;
        height: 32px;
        line-height: 28px;
        border-radius: 5px;
        background: #865439;
        color: white; }
    #all nav ul {
      width: 100%;
      position: relative;
      margin-top: 5px; }
      #all nav ul li {
        list-style: none;
        width: 95px;
        text-align: center;
        float: left;
        position: relative;
        line-height: 30px; }
        #all nav ul li:hover {
          background: #865439; }
          #all nav ul li:hover > ul {
            display: block; }
        #all nav ul li a {
          text-decoration: none;
          color: #D7B19D;
          font-size: 15px; }
        #all nav ul li ul {
          display: none;
          background: none; }
          #all nav ul li ul li {
            float: none;
            height: 30px; }
            #all nav ul li ul li ul {
              margin-left: 95px; }
              #all nav ul li ul li ul li {
                margin: 1px; }
                #all nav ul li ul li ul li:nth-child(1) {
                  margin-top: -37px; }
            #all nav ul li ul li:hover ul {
              display: block; }
              #all nav ul li ul li:hover ul li {
                background: #865439; }
  #all #support .hidden {
    width: 192px;
    height: 50px; }
    #all #support .hidden #contact {
      z-index: 100;
      display: flex;
      flex-direction: row;
      position: fixed;
      bottom: 30px;
      right: 150px; }
      #all #support .hidden #contact a {
        height: 50px; }
        #all #support .hidden #contact a img {
          margin: 0px; }
        #all #support .hidden #contact a:first-child img {
          border-radius: 10px 0px 0px 10px; }
        #all #support .hidden #contact a:last-child img {
          border-radius: 0px 10px 10px 0px; }
  #all header {
    position: relative;
    width: 100%;
    height: 300px;
    background: linear-gradient(rgba(64, 64, 41, 0.3), #865439), url("imgs/background/background.jpg") no-repeat;
    background-size: cover;
    padding-top: 100px;
    color: white;
    text-align: center; }
  #all #main {
    padding: 10px; }
    #all #main span {
      display: block;
      text-align: right;
      color: #865439; }
    #all #main h3, #all #main h4 {
      margin: 20px 0px 10px 20px;
      color: #402218; }
    #all #main img {
      margin-top: 10px; }
    #all #main .img_coffee {
      width: 70%;
      margin: auto; }
    #all #main p {
      margin-top: 5px;
      text-align: justify; }
      #all #main p::first-letter {
        margin-left: 10px; }
  #all .add {
    width: 80%;
    min-height: 100px;
    margin: auto; }
    #all .add h4 {
      margin: 10px 20px; }
      #all .add h4 a {
        text-decoration: none;
        /* color: #402218; */ }
  #all footer {
    width: 100%;
    min-height: 30px;
    background: #865439;
    margin-top: 20px;
    color: white;
    text-align: left;
    padding: 20px 0px 0px 20px; }
    #all footer h2 {
      margin-bottom: 10px; }
    #all footer p {
      margin-bottom: 7px; }
    #all footer .sauthanh {
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center; }

/* =====tables & desktop=== */
@media only screen and (min-width: 768px) {
  #all nav {
    height: 50px;
    display: grid;
    grid-template-column: repeat(7, 1fr); }
    #all nav form {
      grid-column: 6 / 8;
      grid-row: 1;
      margin-top: 5px; }
    #all nav ul {
      grid-column: 3 / 6;
      grid-row: 1;
      margin-top: 0px; }
      #all nav ul li {
        line-height: 50px; }
        #all nav ul li ul li {
          line-height: 30px; }
          #all nav ul li ul li ul li:nth-child(1) {
            margin-top: -32px; }
  #all #support .hidden {
    border: 1px solid #C68B59;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    background: #865439;
    color: white;
    position: fixed;
    bottom: 80px;
    right: 80px;
    cursor: pointer;
    z-index: 100; }
    #all #support .hidden #contact {
      bottom: 80px; }
      #all #support .hidden #contact a img {
        visibility: hidden; }
    #all #support .hidden:hover #contact {
      right: 80px; }
      #all #support .hidden:hover #contact a img {
        visibility: visible;
        display: block; }
  #all #main {
    width: 60%;
    margin: auto; }
  #all .add h4 {
    text-align: center; }
  #all .add img {
    display: block;
    margin: auto; } }

/*# sourceMappingURL=cf_tree_ro.css.map */
