*{margin:0px; padding:0px; box-sizing: border-box; font-family: SourceSerifPro;}
@font-face {
	font-family: SourceSerifPro;
	src: url('font/Source_Serif_Pro/SourceSerifPro-Regular.ttf');
}
/*====mobile===== */
#all {
	width: 100%;
	min-height: 100px;
	nav {
		position: fixed;
		top: 0px;
		width: 100%;
		height: 115px;
		background: #402218;
		box-shadow: 1px 1px 2px;
		z-index: 80;
		#logo {		
			font-family: Lobster-Regular;
			font-size: 20px;
			padding: 7px 0px 0px 20px;
			text-shadow: 3px 3px 5px #C68B59;
			a {
				text-decoration: none;
				color: white;
			}
		}
		form {
			width: 370px;
			height: 35px;
			line-height: 35px;
			input{
				&[type=text]{
					width: 70%;
					height: 30px;
					line-height: 30px;	
					margin-left: 5px;				
					border-radius: 5px;
					padding-left: 7px;
					&:focus {
						outline: none;
					}
				}				
				&[type=submit]{
					margin: 5px 0px 0px 5px;
					width: 25%;
					height: 32px;
					line-height: 28px;
					border-radius: 5px;
					background: #865439;
					color: white;	
				}				
				
			}
		}
		ul {
			width: 100%;
			position: relative;
			margin-top: 5px;			
			li {
				list-style: none;
				width: 95px;
				text-align: center;
				float: left;
				position: relative;
				line-height: 30px;
				&:hover {
					background: #865439;
					>ul {
						display: block;						
					}
				}
				a {
					text-decoration: none;
					color: #D7B19D;
					font-size: 15px;
				}
				ul {	
					display: none;
					background: none;
					li {
						float: none;
						height: 30px;
						ul {
							margin-left: 95px;
							li {
								margin: 1px;									
								&:nth-child(1){									
								margin-top: -37px;
								}								
							}								
						}
						&:hover ul {
								display: block;
								li {
									background: #865439;
								}
						}	
					}
				}
			}
		}
		
	}
	#support {
		.hidden {
			width: 192px;
			height: 50px;					
			#contact {	
				z-index: 100;
				display: flex;
				flex-direction: row;
				position: fixed;
				bottom: 30px;
				right: 150px;	
				a {
					height: 50px;
					img {
						margin: 0px;						
					}
					&:first-child {
						img {
							border-radius: 10px 0px 0px 10px;	
						}						
					}
					&:last-child {
						img {
							border-radius: 0px 10px 10px 0px;	
						}
						
					}
				}
			}			
		}
	}
	header {
		position: relative;
		width: 100%;
		height: 300px;
		background: linear-gradient(rgba(64,64,41,0.3),#865439), url('imgs/background/background.jpg') no-repeat;
		background-size: cover;
		padding-top: 100px;
		color: white;
		text-align: center;		
	}
	#main {
		padding: 10px;
		span {
			display: block;
			text-align: right;
			color: #865439;
		}
		h3, h4 {
			margin: 20px 0px 10px 20px;
			color: #402218;
		}
		img {
			margin-top: 10px;			
		}
		.img_coffee {
			width: 70%;
			margin: auto;
		}
		p {
			margin-top: 5px;
			text-align: justify;
			&::first-letter {
				margin-left: 10px;
			}	
		}
	}
	.add {
		width: 80%;
		min-height: 100px;
		margin: auto;
		h4 {
			margin: 10px 20px;
			a {
				text-decoration: none;			
				/* color: #402218; */
			}
		}
	}
	footer {
		width: 100%;
		min-height: 30px;
		background: #865439;
		margin-top: 20px;
		color: white;
		text-align: left;
		padding: 20px 0px 0px 20px;
		h2 {
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 7px;	
		}
		.sauthanh {
			width: 100%;
			height: 40px;
			line-height: 40px;
			text-align: center;
		}	
	}
}
/* =====tables & desktop=== */
@media only screen and (min-width: 768px) {
	#all {
		nav {
			height: 50px;
			display: grid;
			grid-template-column: repeat(7,1fr);
			form {
				grid-column: 6 / 8;
				grid-row: 1;
				margin-top: 5px;
			}
			ul {
				grid-column: 3 / 6;
				grid-row: 1;
				margin-top: 0px;
				li {					
					line-height: 50px;
					ul {
						li {
							line-height: 30px;
							ul {
								li {					
									&:nth-child(1){									
										margin-top: -32px;
									}								
								}	
							}
						}
					}
				}
			}
		}
		#support {
			.hidden {
				border: 1px solid #C68B59;
				border-radius: 10px;
				line-height: 50px;
				text-align: center;
				background: #865439;
				color: white;
				position: fixed;
				bottom: 80px;
				right: 80px;
				cursor: pointer;
				z-index: 100;
				#contact {			
					bottom: 80px;		
					a {
						img {
							visibility: hidden;
						}
					}
				}				
				&:hover {
					#contact {
						right: 80px;
						a {
							img {
							visibility: visible;
							display: block;
							}
						}						
					}
				}
			}
		}
		
		#main {
			width: 60%;
			margin: auto;
		}
		.add {
			h4 {
				text-align: center;
			}
			img {
				display: block;
				margin: auto;
			}
		}
	}
}