* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: SourceSerifPro; }

@font-face {
  font-family: SourceSerifPro;
  src: url("font/Source_Serif_Pro/SourceSerifPro-Regular.ttf"); }
/*====mobile===== */
#all {
  width: 100%;
  min-height: 100px;
  /* =====menu===== */
  /* =====support===== */
  /* =====header===== */
  /* =====main===== */
  /* =======footer======= */ }
  #all nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 115px;
    background: #402218;
    box-shadow: 1px 1px 2px;
    z-index: 80;
    /* =====search===== */ }
    #all nav #logo {
      font-family: Lobster-Regular;
      font-size: 20px;
      padding: 7px 0px 0px 20px;
      text-shadow: 3px 3px 5px #C68B59; }
      #all nav #logo a {
        text-decoration: none;
        color: white; }
    #all nav ul {
      width: 100%;
      position: relative;
      margin-top: 5px; }
      #all nav ul li {
        list-style: none;
        width: 95px;
        text-align: center;
        float: left;
        position: relative;
        line-height: 30px; }
        #all nav ul li:hover {
          background: #865439; }
          #all nav ul li:hover > ul {
            display: block; }
        #all nav ul li a {
          text-decoration: none;
          color: #D7B19D;
          font-size: 15px; }
        #all nav ul li ul {
          display: none;
          background: none; }
          #all nav ul li ul li {
            float: none;
            height: 30px; }
            #all nav ul li ul li ul {
              margin-left: 95px; }
              #all nav ul li ul li ul li {
                margin: 1px; }
                #all nav ul li ul li ul li:nth-child(1) {
                  margin-top: -37px; }
            #all nav ul li ul li:hover ul {
              display: block; }
              #all nav ul li ul li:hover ul li {
                background: #865439; }
    #all nav form {
      width: 370px;
      height: 35px;
      line-height: 35px; }
      #all nav form input[type=text] {
        width: 70%;
        height: 30px;
        line-height: 30px;
        margin-left: 5px;
        border-radius: 5px;
        padding-left: 7px; }
        #all nav form input[type=text]:focus {
          outline: none; }
      #all nav form input[type=submit] {
        margin: 5px 0px 0px 5px;
        width: 25%;
        height: 32px;
        line-height: 28px;
        border-radius: 5px;
        background: #865439;
        color: white; }
  #all #support .hidden {
    width: 192px;
    height: 50px; }
    #all #support .hidden #contact {
      z-index: 100;
      display: flex;
      flex-direction: row;
      position: fixed;
      bottom: 30px;
      right: 150px; }
      #all #support .hidden #contact a {
        height: 50px; }
        #all #support .hidden #contact a img {
          margin: 0px; }
        #all #support .hidden #contact a:first-child img {
          border-radius: 10px 0px 0px 10px; }
        #all #support .hidden #contact a:last-child img {
          border-radius: 0px 10px 10px 0px; }
  #all header {
    position: relative;
    width: 100%;
    height: 660px;
    background: linear-gradient(rgba(64, 64, 41, 0.3), #865439), url("imgs/background/background.jpg") no-repeat;
    background-size: cover;
    padding-top: 50px; }
    #all header > img {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      position: fixed;
      top: 15px;
      right: 30px;
      z-index: 90; }
    #all header #order {
      color: white;
      width: 100%;
      min-height: 100px;
      text-align: center; }
      #all header #order #introduce {
        width: 320px;
        height: 200px;
        line-height: 20px;
        margin: 150px 0px 0px 20px; }
        #all header #order #introduce p {
          text-align: justify;
          margin-top: 15px; }
      #all header #order a {
        width: 100px;
        height: 40px;
        line-height: 40px;
        border-radius: 10px;
        display: block;
        border: 1px solid #D7B19D;
        color: white;
        text-decoration: none;
        margin: -70px 0px 0px 120px;
        text-align: center;
        position: relative;
        background: #402218; }
  #all #cf_tree {
    width: 370px;
    height: 330px;
    margin: 100px 15px 200px 15px; }
  #all #main {
    width: 95%;
    min-height: 100px;
    margin: auto;
    /* =====product===== */
    /* =======comment======= */ }
    #all #main h2 {
      margin: 50px auto 20px;
      color: #402218;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 25px;
      text-align: center;
      text-shadow: 1px 2px 3px; }
    #all #main h3 {
      text-align: center;
      margin: 15px 0px; }
    #all #main .tree {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 5px;
      border: 1px solid #865439;
      border-radius: 5px;
      margin: 10px auto;
      background: #402218;
      color: white; }
      #all #main .tree p {
        font-size: 12pt; }
      #all #main .tree a {
        text-decoration: none;
        color: #C68B59; }
      #all #main .tree img {
        width: 100px;
        height: 200px;
        border-radius: 5px; }
      #all #main .tree .cf_tree {
        padding: 10px;
        text-align: justify; }
    #all #main #product {
      margin-top: 150px; }
    #all #main .bean_coffee .img_nhan {
      width: 100%;
      height: 180px;
      border-radius: 5px;
      position: relative;
      margin-bottom: 10px;
      background: url("imgs/product/nhan_xanh_w320h160.jpg") no-repeat;
      background-size: cover; }
      #all #main .bean_coffee .img_nhan .note {
        width: 60%;
        top: 90%;
        left: 20%;
        color: #D7B19D;
        text-align: center;
        opacity: 0;
        position: absolute; }
        #all #main .bean_coffee .img_nhan .note h4 {
          margin-bottom: 7px;
          font-size: 18px; }
      #all #main .bean_coffee .img_nhan:hover {
        background: linear-gradient(rgba(64, 64, 41, 0.1), #5A3821), url("imgs/product/nhan_xanh_w320h160.jpg") no-repeat;
        background-size: cover; }
        #all #main .bean_coffee .img_nhan:hover .note {
          opacity: 1;
          top: 40%;
          transition: 1s; }
    #all #main .bean_coffee .img_rang {
      width: 100%;
      height: 180px;
      border-radius: 5px;
      position: relative;
      margin-bottom: 10px;
      background: url("imgs/product/cafe-rang-may.jpg") no-repeat;
      background-size: cover; }
      #all #main .bean_coffee .img_rang .note {
        width: 60%;
        top: 90%;
        left: 20%;
        color: #D7B19D;
        text-align: center;
        opacity: 0;
        position: absolute; }
        #all #main .bean_coffee .img_rang .note h4 {
          margin-bottom: 7px;
          font-size: 18px; }
      #all #main .bean_coffee .img_rang:hover {
        background: linear-gradient(rgba(64, 64, 41, 0.1), #5A3821), url("imgs/product/cafe-rang-may.jpg") no-repeat;
        background-size: cover; }
        #all #main .bean_coffee .img_rang:hover .note {
          opacity: 1;
          top: 40%;
          transition: 1s; }
    #all #main .bean_coffee .img_bot {
      width: 100%;
      height: 180px;
      border-radius: 5px;
      position: relative;
      margin-bottom: 10px;
      background: url("imgs/product/bot_w320h160.jpg") no-repeat;
      background-size: cover; }
      #all #main .bean_coffee .img_bot .note {
        width: 60%;
        top: 90%;
        left: 20%;
        color: #D7B19D;
        text-align: center;
        opacity: 0;
        position: absolute; }
        #all #main .bean_coffee .img_bot .note h4 {
          margin-bottom: 7px;
          font-size: 18px; }
      #all #main .bean_coffee .img_bot:hover {
        background: linear-gradient(rgba(64, 64, 41, 0.1), #5A3821), url("imgs/product/bot_w320h160.jpg") no-repeat;
        background-size: cover; }
        #all #main .bean_coffee .img_bot:hover .note {
          opacity: 1;
          top: 40%;
          transition: 1s; }
    #all #main .bean_coffee .product {
      padding: 10px; }
      #all #main .bean_coffee .product a {
        text-decoration: none; }
      #all #main .bean_coffee .product p {
        margin-bottom: 100px; }
    #all #main .comment {
      color: #402218; }
      #all #main .comment img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        float: left;
        margin-right: 20px; }
      #all #main .comment h5 {
        margin-top: 10px; }
      #all #main .comment:after {
        content: "";
        clear: both;
        display: table; }
  #all footer {
    width: 100%;
    min-height: 30px;
    background: #865439;
    margin-top: 20px;
    color: white;
    text-align: left;
    padding: 20px 0px 0px 20px; }
    #all footer h2 {
      margin-bottom: 10px; }
    #all footer p {
      margin-bottom: 7px; }
    #all footer .sauthanh {
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center; }

/* =====tables & desktop=== */
@media only screen and (min-width: 768px) {
  #all nav {
    height: 50px;
    display: grid;
    grid-template-column: repeat(7, 1fr); }
    #all nav form {
      grid-column: 6 / 8;
      grid-row: 1;
      margin-top: 5px; }
    #all nav ul {
      grid-column: 3 / 6;
      grid-row: 1;
      margin-top: 0px; }
      #all nav ul li {
        line-height: 50px; }
        #all nav ul li ul li {
          line-height: 30px; }
          #all nav ul li ul li ul li:nth-child(1) {
            margin-top: -32px; }
  #all #support .hidden {
    border: 1px solid #C68B59;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    background: #865439;
    color: white;
    position: fixed;
    bottom: 80px;
    right: 80px;
    cursor: pointer;
    z-index: 100; }
    #all #support .hidden #contact {
      bottom: 80px; }
      #all #support .hidden #contact a img {
        visibility: hidden; }
    #all #support .hidden:hover #contact {
      right: 80px; }
      #all #support .hidden:hover #contact a img {
        visibility: visible;
        display: block; }
  #all header > img {
    top: 80px;
    left: 40px;
    animation: ly_coffee 5s infinite; }
  @keyframes ly_coffee {
    0% {
      top: 80px; }
    50% {
      top: 85%; }
    100% {
      top: 80px; } }
  #all header #order {
    color: white;
    width: 100%;
    min-height: 100px;
    text-align: center; }
    #all header #order #introduce {
      float: left;
      margin: 250px 0px 0px 200px; }
    #all header #order a {
      float: left;
      margin: 280px 0px 0px 130px;
      position: relative; }
      #all header #order a::before {
        content: "";
        width: 0%;
        height: 100%;
        position: absolute;
        left: 0px; }
      #all header #order a:hover {
        z-index: 1; }
        #all header #order a:hover::before {
          width: 100%;
          background: #865439;
          border-radius: 10px;
          z-index: -1;
          transition: 1s; }
  #all #cf_tree {
    width: 600px;
    height: 570px;
    margin: 100px auto 100px; }
  #all #main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px; }
    #all #main h2 {
      grid-column: 1 / 4; } }

/*# sourceMappingURL=style.css.map */
